<div class="view-clients" fxLayout="row" fxLayoutAlign="center center">
    <div class="container mat-elevation-z2" fxLayout="column">
        <div class="title" fxLayout="row">
            Clients
            <div style="flex: 1 1 auto;"></div>
            <button (click)="assign()" mat-raised-button color="primary" >assign</button>
            <button (click)="create()" mat-raised-button color="primary">create</button>
        </div>

        <mat-form-field class="input-filter">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>


        <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
                <td mat-cell *matCellDef="let row"> {{row.clientId}} </td>
            </ng-container>

            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let row"> {{row.clientName}} </td>
            </ng-container>

            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
                <td mat-cell *matCellDef="let row"> {{row.clientPhone}} </td>
            </ng-container>

            <ng-container matColumnDef="numInsurance">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Insurance policy </th>
                <td mat-cell *matCellDef="let row"> {{row.policyNumber}} </td>
            </ng-container>
       
            <ng-container matColumnDef="edit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>   </th>
                <td mat-cell *matCellDef="let row">

                    <button (click)="edit(row)" mat-icon-button aria-label="Edit">
                        <mat-icon class="icon-description">description</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;">
            </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
</div>