.view-authentication{
    height: 100vh;
    background-color: #eeeeee;
    .container{
        padding: 35px 20px 10px 20px;
        height: 400px;
        width: 400px;
        background-color: #fff
    }

    .title{
        font-size: 25px;
        width: 100%;
        margin-bottom: 25px
    }

    .container-button{
        margin-top: 20px;
        width: 100%; 
        button{
            text-transform: uppercase
        }
    }
}